* {
    box-sizing: border-box;
}
body {
    margin: 1em;
    font-family: 'Roboto', sans-serif;
}
.alert-info>a {
    background-color: lightblue;
    border: solid lightgray 2px;
    display: block;
    height: 3em;
    line-height: 3em;
    text-align: center;
    text-decoration: none;
    color: #000000;
    margin: 1em;
}

h1 {
    text-align: center;
    font-size: 2.5em;
    margin-top: 0;
}

nav>ul {
    padding: 0;
    margin: 0;
}
nav>ul>li {
    list-style: none;
}
nav>ul>li>a {
    display: block;
    height: 3em;
    line-height: 3em;
    background-color: lightgray;
    text-align: center;
    margin: 1em;
}
img {
    width: 100%;
    height: 100%;
    margin: 1em;
    /*height: 100%;*/
    /*margin: calc(100%-2em);*/
    /*size: 100vw;*/
    /*width: 100vh;*/
    /*height: 100vh;*/
}
section {
    margin: 1em;
}
#main>h2{
    padding: 0;
    font-weight: bolder;
}
.sub-section>h2{
    font-weight: bolder;
}
.sub-section{
    font-style: italic;
}
footer{
    display: flex;
    align-items: flex-end;
    margin: 6em 1em 1em 1em;
}
/* Small devices (phones and pocket devices, 576 and up) */
@media screen and (min-width:576px) { /* ... */ }

/* Medium devices (tablets, 768px and up) */
@media screen and (min-width:768px) { /* ... */ }

/* Large devices (desktops, 992px and up) */
@media screen and (min-width:992px) { /* ... */ }

/* Extra large devices (large desktops, 1200px and up) */
@media screen and (min-width:1200px) { /* ... */ }